.project-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
}
.project-container{
    margin: 0 auto;
    max-width: 90%;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-gap:40px;
    padding-bottom: 5rem;
}
.project-card{
    background-color: #1a1919;
    padding: 1.2rem 1rem;
}
.project-card img{
    width: 100%;
}
.project-title{
    color: #fff;
    padding: 1rem 0 ;
}
.pro-detail{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}
.pro-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.btn-work{
    display: flex;
    width: 100px;
    position: relative;
    padding: 12px 12px;
    font-size: 1rem;
    margin: 2rem 0;
    text-transform: uppercase;
    background-color: rgb(248,217,15);
    color: #222;
    border: 1px solid #fff;
    cursor: pointer;
}
.btn-work:hover{
    background: rgba(255,255,255,0.2);
    color: #fff;
    transition: 0.35s;
}
@media screen and (max-width:740px) {
    .project-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}
